.topic-container {
  margin-top: 65px;
  /* position: absolute; */
  display: flex;
  height: 750px;
}
.main-image {
  width: 63%;
  background-image: url("images/IMG_9612.jpg");
  background-size: cover;
  background-position: right;
}

.heading-text {
  width: 37%;
  background-color: #7B5549;
  color: white;
}

.heading-text h2 {
  text-align: center;
  font-family: "Amatic SC";
  font-style: bold;
  font-size: 4em;
}

.heading-text h3 {
  text-align: center;
  padding: 0px 50px;
  font-size: 1.2em;
}

.heading-text li {
  margin: 0px 50px;
}

.text-container {
  text-align: center;
  color: #3E2A24;
  padding: 0 25%;
  line-height: 1.5;
}

.text-container h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dash {
  width: 15px;
  border-top: solid 4px black;
  margin: -10px auto 30px auto;
}

