.main-image {
  background-image: url("../images/IMG_9612.jpg");
}

.heading-text {
  background-color: #7B5549;
}

.text-container {
  max-width: 1000px;
  text-align: center;
  color: #3E2A24;
  margin: 0 auto;
  padding: 0 30px;
  line-height: 1.5;
}

.text-container h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dash {
  width: 15px;
  border-top: solid 4px black;
  margin: -10px auto 30px auto;
}