/* Main style guide and navbar */

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

* {
	box-sizing: border-box;
	font-family: 'Avenir', sans-serif;
}

body {
	margin: 0;
  background-color: #FAFAFA;
}

.hidden {display: none;}
.clicked {opacity: 0.5;}

h1 {font-size: 4em;}
h2 {font-size: 2.4em;}
h3 {font-size: 2em;}
h4 {font-size: 1.8em;}
h5 {font-size: 1.5em;}

header {
	position: fixed;
  display: flex;
	top: 0;
	width: 100%;
	min-height: 65px;
	background-color: white;
	border-bottom: solid 5px #8E8E8F;
  z-index: 5;
  align-content: center;
}

#logo {
	margin-left: 20px;
	margin-top: 5px;
	height: 50px;
	border-radius: 10px;
}

nav.main-navigation {
	margin-top: 20px;
	margin-left: 20px;
	color: #7B5549;
}

.main-navigation a {
	padding: 0px 15px;
	color: #7B5549;
	text-decoration: none;
	transition-duration: 0.5s;
}

.main-navigation a:hover {
	color: black;
}

.donate-button {
	/* display: inline-block; */
	padding: 7px 45px;
	border: solid 3px darkred;
	border-radius: 10px;
  margin: 9px 25px 9px auto;
	color: black;
	background-color: rgba(128, 0, 0, 0.1); /* maroon */
	text-decoration: none;
	transition-duration: 0.4s;
}

.donate-button:hover {
	color: white;
	background-color: rgba(128, 0, 0, 0.6);
}

@media screen and (max-width: 840px) {
  header {
    display: block;
    position: relative;
  }
  #logo {
    display: block;
    margin: 5px auto;
  }
  .main-navigation {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .donate-button {
    display: none;
  }

}

@media screen and (max-width: 500px) {
  .main-navigation {
    display: block;
    background-color: white;
    margin: 0;
    padding: 10px 0;
  }

  .footer-navigation, .footer-contact, .footer-info {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: center;
  }
  .footer-navigation a, .footer-contact a, .footer-info p{
    padding: 5px 0;
  }
}

footer {
  width: auto;
  background-color: #123132;
  border-top: solid 5px #B97F6D;
}

.footer-navigation {
  display: flex;
  max-width: 900px;
  justify-content: space-around;
  margin: 15px auto;
}

.footer-navigation a {
  text-decoration: none;
  color: #B97F6D;
  transition-duration: 0.5s;
}

.footer-navigation a:hover {
  color: white;
}

.footer-contact {
  text-align: center;
  margin: 50px 0px;
}

.footer-contact a {
  text-decoration: none;
  margin: 0px 20px;
  color: #B97F6D;
  transition-duration: 0.5s;
}

.footer-contact a:hover {
  color: white;
}

.footer-info {
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.footer-info p {
  color: #B97F6D;
  margin: 0px 40px;
}