.main-image {
  background-image: url("../images/IMG_9591.jpg");
}

.top {
  text-align: center;
  margin: 2% 20%;
}

.image-strip-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 4em 0 0 0;
}

.circled-image {
  flex: 1 0 auto;
  width: 15%;
  border: solid 2px black;
  align-self: center;
  padding-bottom: 15%;
  margin-left: 10em;
  /* margin-bottom: 50px; */
  border-radius: 50%;
}

.text-in-strip {
  /* margin-left: 33%; */
  /* margin-right: 5em; */
  text-align: center;
  padding-left: 5em;
  padding-right: 10em;
}

.dash {
  width: 15px;
  border-top: solid 4px black;
  margin: -10px auto 30px auto;
}

.strip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
