.main-image {
  background-image: url("../images/IMG_9591.jpg");
}

.heading-text {
  background-color: #688384;
}

.top {
  text-align: center;
  padding: 0 20px;
  max-width: 1000px;
  margin: 20px auto;
}

.text-container {
  margin-bottom: 20px;
}

.image-strip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.circled-image {
  min-height: 200px;
  min-width: 200px;
  margin: 10px;
  border: solid 2px black;
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
}

.text-in-strip {
  max-width: 800px;
  text-align: center;
  padding: 0 15px;
}

.dash {
  width: 15px;
  border-top: solid 4px black;
  margin: 30px auto 10px auto;
}

.strip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 10px auto;
  text-align: center;
  padding: 0 20px;
}

@media screen and (max-width: 700px) {
  .image-strip-container {
    flex-direction: column;
  }

  .text-container p {
    padding: 0 20px;
  }
}

#john {
  background-image: url("../images/bios/john.jpg");
}

#abby {
  background-image: url("../images/bios/Abigail.jpeg");
}

#joanna {
  background-image: url("../images/bios/joanna.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 150%;
}

#alana {

}